/* BACK BODY */
body {
  background-image: url('images/asthetic.jpg');
  margin: 0px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
    'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

/* MAIN TOP LOGO */
header {
  background: cornsilk;
  color: seashell;
  background-image: url('images/bulb2.jpg');
  background-size: 100%;
  background-position: center;
  padding: 20px;
  height: 500px;
  width: 0 auto;
  text-align: center;
  background-repeat: no-repeat;
}

@keyframes examplelogo {
  from {
    background-color: rgba(0, 0, 0, 0.781);
  }
  to {
    background-color: rgb(255, 255, 255, 0.541);
  }
}

/* NAVIGATIONS */
header a {
  border-radius: 9px;
  color: rgb(255, 255, 255);
  text-decoration-line: none;
  background: rgba(0, 0, 0, 0.541);
  border: 1.5px solid rgb(218, 214, 214);
  size: 100px;
  padding: 5px;
}

header a {
  background: rgb(0, 0, 0);
  position: relative;
  animation-name: example;
  animation-duration: 4s;
  animation-fill-mode: forwards;
}
@keyframes example {
  from {
    top: 0px;
  }
  to {
    top: 205px;
    background-color: rgba(0, 0, 0, 0.576);
  }
}

nav ul {
  margin: 0;
  padding: 20px;
  list-style-type: none;
}
nav li {
  display: inline-block;
  color: black;
  padding: 20px;
  text-transform: uppercase;
}

header .mobile {
  display: none;
}

/*  RESPONSIVE RULES YT */

@media screen and (max-width: 715px) {
  header .mobile {
    display: inline-block;
  }
  header .desktop {
    display: none;
  }
  header a {
    background: rgb(0, 0, 0);
    position: relative;
    animation-name: example;
    animation-duration: 3s;
    animation-fill-mode: forwards;
  }
  @keyframes example {
    from {
      top: 0px;
    }
    to {
      top: -35px;
      background-color: rgba(0, 0, 0, 0.404);
    }
  }

  header {
    height: 150px;
  }

  .location {
    background-color: rgba(255, 248, 220, 0.534);
    color: rgb(0, 0, 0);
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
    padding-top: 100px;
    background-size: 10px;
    outline-style: double;
    outline-width: thick;
  }
  .container {
    margin: auto;
    width: 80%;
  }
}

/* IMAGES */
.container {
  margin: auto;
  width: 80%;
}
.location {
  background-color: rgba(255, 248, 220, 0.534);
  color: rgb(0, 0, 0);
  text-align: center;
  margin: auto;
  margin-top: 50px;
  margin-bottom: 50px;
  padding-top: 200px;
  height: 300px;
  width: 100%;
  outline-style: double;
  outline-width: thick;
}

/* COPYRIGHTS & ADDRESS */
.copyrights {
  color: rgb(0, 0, 0);
  background-color: rgba(255, 248, 220, 0.5);
  text-align: center;
  font-size: 12px;
  background-position: bottom;
  padding: 20px;
}
